<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dormitory</display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.itcast.dormitory.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.admin.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.order.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyOrderServlet</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.order.servlet.MyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/MyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadOrder</display-name>
    <servlet-name>LoadOrder</servlet-name>
    <servlet-class>cn.itcast.dormitory.order.servlet.LoadOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadOrder</servlet-name>
    <url-pattern>/LoadOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListServlet</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.order.servlet.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisposeOrderServlet</display-name>
    <servlet-name>DisposeOrderServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.order.servlet.DisposeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisposeOrderServlet</servlet-name>
    <url-pattern>/DisposeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findByWid</display-name>
    <servlet-name>findByWid</servlet-name>
    <servlet-class>cn.itcast.dormitory.order.servlet.findByWid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findByWid</servlet-name>
    <url-pattern>/findByWid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.user.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>cn.itecast.dormitory.admin.user.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLoadOrder</display-name>
    <servlet-name>adminLoadOrder</servlet-name>
    <servlet-class>cn.itcast.dormitory.order.servlet.adminLoadOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoadOrder</servlet-name>
    <url-pattern>/adminLoadOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WorkerServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.worker.servlet.WorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/WorkerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllWorkerServlet</display-name>
    <servlet-name>AllWorkerServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.worker.servlet.AllWorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllWorkerServlet</servlet-name>
    <url-pattern>/AllWorkerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadWorker</display-name>
    <servlet-name>LoadWorker</servlet-name>
    <servlet-class>cn.itcast.dormitory.admin.worker.servlet.LoadWorker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadWorker</servlet-name>
    <url-pattern>/LoadWorker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editServlet</display-name>
    <servlet-name>editServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.admin.worker.servlet.editServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderCancel</display-name>
    <servlet-name>OrderCancel</servlet-name>
    <servlet-class>cn.itcast.dormitory.order.servlet.OrderCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCancel</servlet-name>
    <url-pattern>/OrderCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoneServlet</display-name>
    <servlet-name>DoneServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.order.servlet.DoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoneServlet</servlet-name>
    <url-pattern>/DoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderByWorker</display-name>
    <servlet-name>OrderByWorker</servlet-name>
    <servlet-class>cn.itcast.dormitory.admin.worker.servlet.OrderByWorker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderByWorker</servlet-name>
    <url-pattern>/OrderByWorker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminList</display-name>
    <servlet-name>AdminList</servlet-name>
    <servlet-class>cn.itcast.dormitory.admin.admin.servlet.AdminList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminList</servlet-name>
    <url-pattern>/AdminList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editAdminServlet</display-name>
    <servlet-name>editAdminServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.admin.admin.servlet.editAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editAdminServlet</servlet-name>
    <url-pattern>/editAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>cn.itcast.dormitory.message.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageList</display-name>
    <servlet-name>MessageList</servlet-name>
    <servlet-class>cn.itcast.dormitory.message.MessageList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageList</servlet-name>
    <url-pattern>/MessageList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMessage</display-name>
    <servlet-name>LoadMessage</servlet-name>
    <servlet-class>cn.itcast.dormitory.message.LoadMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMessage</servlet-name>
    <url-pattern>/LoadMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessage</display-name>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>cn.itcast.dormitory.message.DeleteMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/DeleteMessage</url-pattern>
  </servlet-mapping>
</web-app>